  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header, h3 {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
    width: 100%;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d8a47f;
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  footer {
    display: flex;
    padding: 20px;
    align-items: centre;
    background: #13293d;
    color: #fff;
    margin-top: auto;
    justify-content: center;
    flex-direction: row;
  }
  
  main {
    display: flex;
  }

  p {
    padding: 100px;
  }

  div {
    outline: #d8a47f;
    outline-width: 3px;
  }
  
  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article{
    background-color: #a3b41f;
  }

  input, button, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {
    main,
    nav,
    footer{
      flex-direction: column;
    }
  }